<header class="hero background-sky">
    <div class="inner-header">
        <h1 class="hero-title text-display-1 ">Login</h1><span class="badges"></span></div>
    <h2 class="hero-subtitle text-subhead">Login with ...</h2>
</header>

<div class="l-content ">
    <h2>LOGIN</h2>
    <p>{{message}}</p>
    <p>
        <button (click)="login()" *ngIf="!authService.isLoggedIn">Login</button>
        <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
    </p>

  <md-card>
    <md-card-title>Grid list with header</md-card-title>
    <md-card-content>
      <md-grid-list cols="3" rowHeight="200px">
        <md-grid-tile *ngFor="let dog of dogs" style="background:gray">
          <md-grid-tile-header>
            <md-icon md-grid-avatar>info_outline</md-icon>
            {{dog.name}}
          </md-grid-tile-header>
        </md-grid-tile>
      </md-grid-list>
    </md-card-content>
  </md-card>

  
</div>