html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

@import 'node_modules/angular.io/public/resources/css/main';

.main-nav h1 a {
    background: url("/assets/img/logos/xchange-brand.png") 0px 2px no-repeat;
    width: 150px;
}

.main-footer nav {
    border-bottom: 1px solid #525050;
    padding: 30px 30px 15px 30px;
}

.main-footer .logo-inverse-large {
    background: url("/assets/img/logos/xchange-logo-gray.png") 0 0 no-repeat;
}