html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

// import css from angular.io
@import 'node_modules/angular.io/public/resources/css/main';

// import css from materialdesignicons (google + contrib)
$mdi-font-path: "/assets/fonts";
$mdi-font-size-base: 32px;

@import "node_modules/mdi/scss/variables";
@import "node_modules/mdi/scss/functions";
@import "node_modules/mdi/scss/path";
@import "node_modules/mdi/scss/core";
// @import "node_modules/mdi/scss/icons";
@each $key, $value in $mdi-icons {
    .#{$key}:before {
        content: char($value);
    }
}
@import "node_modules/mdi/scss/extras";


.main-nav h1 a {
    background: url("/assets/img/logos/xchange-brand.png") 0px 2px no-repeat;
    width: 150px;
}

.main-footer nav {
    border-bottom: 1px solid #525050;
    padding: 30px 30px 15px 30px;
}

.main-footer .logo-inverse-large {
    background: url("/assets/img/logos/xchange-logo-gray.png") 0 0 no-repeat;
}

.main-nav .main-nav-mobile-trigger {
    padding: 0px 12px 0px 12px;
}

.main-nav .hamberger-icon md-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
}

.main-nav ul {
	background: #0273D4;
}
.main-nav ul .main-nav-button {
    padding: 0 22px 0 22px;
}

.main-nav ul .main-nav-button:hover {
//   background: rgba(158, 158, 158, 0.21);
    background: #1c5dbb;
}

.main-nav ul .main-nav-button .main-nav-mobile-trigger {
    padding: 0 0 0 5px;
    font-size: 22px;
}

.md-primary[md-raised-button], .md-primary[md-fab], .md-primary[md-mini-fab], .md-primary[md-button], .md-primary[md-icon-button] {
    color: white !important;
}

.hero .inner-header {
    margin: 0px;
}

.is-active {
    background: #1c5dbb !important;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px), screen and (max-width: 960px) {
    .is-active {
        background: #0143A3 !important;
        font-style: italic !important;
        cursor: default !important;
    }
    .hamberger-icon:hover {
        background: #1c5dbb !important;
    }
    .main-nav ul .main-nav-button:hover {
        font-style: italic !important;
    }
}