html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

@import 'node_modules/angular.io/public/resources/css/main';

.main-nav h1 a {
    background: url("/assets/img/logos/xchange-brand.png") 0px 2px no-repeat;
    width: 150px;
}

.main-footer nav {
    border-bottom: 1px solid #525050;
    padding: 30px 30px 15px 30px;
}

.main-footer .logo-inverse-large {
    background: url("/assets/img/logos/xchange-logo-gray.png") 0 0 no-repeat;
}

.main-nav .main-nav-mobile-trigger {
    padding: 0px 12px 0px 12px;
}

.main-nav .hamberger-icon md-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
}

.main-nav ul .main-nav-button {
    padding: 0 22px 0 22px;
}

.main-nav ul .main-nav-button:hover {
  background: rgba(158, 158, 158, 0.21);
}

.main-nav ul .main-nav-button .main-nav-mobile-trigger {
    padding: 0 0 0 5px;
    font-size: 22px;
}

.md-primary[md-raised-button], .md-primary[md-fab], .md-primary[md-mini-fab], .md-primary[md-button], .md-primary[md-icon-button] {
    color: white !important;
}
