.background-superhero-paper {
    background: url("/assets/img/backgrounds/metropolis-paper.png") bottom center no-repeat;
    background-size: 100%;
    background-position: fixed;
}

.hero {
    padding: 10px 30px;
}

.hero .hero-logo:after {
    background: url("/assets/img/logos/xchange-logo.png") top center no-repeat;
    top: -18px;
    height: 235px;
}

.button.button-shield {
    background: #0273D4 url("/assets/img/logos/xchange-logo-gray-20x.png") 17px 13px no-repeat;
    padding-left: 65px;
}
